<div id="<%= dom_id chatroom %>">
  <%#  Debuging Part %>

  <%#= debug chatroom %>
  <%#= simple_format chatroom.to_yaml %>
  <%# arr = [1,2,3,4,5,6,7,8,9] %>
  <%#= arr.inspect %>
  <% console %>
  <p>
    <strong>Name:</strong>
    <%= chatroom.name %>
  </p>

</div>
